@import url("https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Ubuntu:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(120deg, #b117ee 0%, #f8bcab 100%);
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  font-family: "Ubuntu", sans-serif;
}
.header {
  font-size: 2rem;
  font-weight: 700;
  margin: 1rem 0;
  color: aliceblue;
  text-align: center;
  font-family: "Akaya Telivigala", cursive;
  text-shadow: 1px 1px 3px black;
}
form {
  min-height: 20vh;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
form input,
form button {
  padding: 0.3rem;
  font-size: 1rem;
  border: none;
  background: white;
  border-radius: 5px;
  margin: 0 auto;
}
form button {
  color: #ff6f47;
  background: #f7fffe;
  cursor: pointer;
  transition: all 0.3s ease;
}
form button:hover {
  background: #ff6f47;
  color: white;
}
.todo-container {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 100%;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  background: white;
  font-size: 0.8rem;
  color: black;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease;
}
.filter-todo {
  padding: 0.2rem;
  border-radius: 5px;
}
.todo li {
  flex: 1;
}

.trash-btn,
.complete-btn {
  background: #ff6f47;
  color: white;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  font-size: 0.5rem;
}
.complete-btn {
  background: rgb(11, 212, 162);
}
.todo-item {
  padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.fall {
  transform: translateY(10rem) rotateZ(20deg);
  opacity: 0;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

/*CUSTOM SELECTOR */
select {
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-image: none;
}

/* Custom Select */
.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}
select {
  color: #ff6f47;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  width: 50%;
}
/* Arrow */
/* Transition */
/*
.select:hover::after {
  transform: scale(1.5);
}
*/
